.logo-top {
    max-height: 50px;
}

.prod-img {
    width: 100%;
    height: 225px;
    max-height: 225px;
    object-fit: cover;
    object-position: center center;
}
.prod-title{
    font-size: 1rem;
    font-weight: 900;
}
.flex-col{
    display: flex;
    width: 100%;
}
.store-img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.prod-img2{
    max-width: 80px;
    object-fit: cover;
}